# Ignore build folders except the .exe
/build/*
!/build/Debug/trading_bot.exe

# Ignore Python cache
__pycache__/
*.pyc

# Ignore data files (optional, if you don't want to share large CSVs)
data/*.csv

# Environment variables and secrets
.env
*.env